{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% block title %}Export | Methods | {{ parent() }}{% endblock %}

{% set breadcrumb = { 'title': 'Methods', 'href': path('Blueline_Methods_welcome') } %}

{% set search = false %}

{% block body %}
	{% from 'BluelineBundle:Macros:header.html.twig' import header %}
	{% import 'BluelineMethodsBundle:Macros:form.html.twig' as form %}
	<section id="export">
		{{ header('Export Method Grid') }}
			<div class="wrap">
			<form>
				<fieldset>
					<legend>Method</legend>
					<div class="form-group">
						<label for="mq">Search database</label>
						<input id="mq" class="text large" type="search" />
					</div>
					<div class="form-group">or manually enter details below:</div>
					<div class="form-group">
						<label for="stage">Stage</label>
						<input id="stage" class="text tiny" type="number" min="3" max="33" step="1" value="3" />
					</div>
					<div class="form-group">
						<label for="notationEntry">Place Notation</label>
						<input id="notationEntry" class="text large" type="text" />
						<input id="notation" type="hidden" />
						<div id="notation_preview" class="notationPreview"></div>
					</div>
				</fieldset>
				<fieldset>
					<legend>File Format</legend>
					<label><input type="radio" name="format" id="format1" value="png" />&nbsp;<strong>PNG</strong></label>
					<br />
					<label><input type="radio" name="format" id="format2" value="pdf" />&nbsp;<strong>PDF</strong></label>
				</fieldset>
				<fieldset>
					<legend>Layout and Dimensions</legend>
				</fieldset>
				<fieldset>
					<legend>Base Style</legend>
				</fieldset>
				<input type="submit" />
				<fieldset>
					<legend>Fine Tuning</legend>
					<div class="form-section">
						<label class="large">Background</label>
						{{ form.color('background_color', 'Colour', '#FFF') }}
					</div>
					<div class="form-section">
						<label class="large">Title&nbsp;&nbsp;<input id="title_show" class="form-toggle" type="checkbox" value="" /></label>
						<div id="title_form" class="form-group" style="display:none">
							{{ form.text('title_text', 'Text', '', 'large') }}
							{{ form.font('title_font', 'Font', {size: 18, face: 'Linux Libertine'}) }}
							{{ form.color('title_color', 'Colour', '#000') }}
						</div>
						<label class="large">Numbers&nbsp;&nbsp;<input id="numbers_show" class="form-toggle" type="checkbox" value="" checked="checked" /></label>
						<div id="numbers_form" class="form-group" style="display:block">
							{{ form.font('numbers_font', 'Font', {size: 12, face: 'Droid Sans Mono' }, '1234567890') }}
							{{ form.color('numbers_1_color', 'Colour (bell 1)', '#000') }}
							{{ form.color('numbers_2_color', 'Colour (bell 2)', '#000') }}
							{{ form.color('numbers_3_color', 'Colour (bell 3)', '#000') }}
						</div>
						<label class="large">Lines&nbsp;&nbsp;<input id="lines_show" class="form-toggle" type="checkbox" value="" checked="checked" /></label>
						<div id="lines_form" class="form-group" style="display:block">
							<div class="form-group">
								<label class="large">Bell 1</label>
								{{ form.line('lines_1', {color: '#F00', width: '1', dash: '0', cap: 'round'}) }}
							</div>
							<div class="form-group">
								<label class="large">Bell 2</label>
								{{ form.line('lines_2', {color: '#00F', width: '2', dash: '0', cap: 'round'}) }}
							</div>
							<div class="form-group">
								<label class="large">Bell 3</label>
								{{ form.line('lines_3', {color: '#00F', width: '2', dash: '0', cap: 'round'}) }}
							</div>
						</div>
						<label class="large">Place Starts&nbsp;&nbsp;<input id="placeStarts_show" class="form-toggle" type="checkbox" value="" checked="checked" /></label>
						<div id="placeStarts_form" class="form-group" style="display:block">
						</div>
						<label class="large">Rule Offs&nbsp;&nbsp;<input id="ruleOffs_show" class="form-toggle" type="checkbox" value="" checked="checked" /></label>
						<div id="ruleOffs_form" class="form-group" style="display:block">
							{{ form.every('ruleOffs') }}
							{{ form.line('ruleOffs', {color: 'rgba(0,0,0,0.3)', width: '1', dash: '3,1', cap: 'butt'}) }}
						</div>
						<label class="large">Vertical Guides - Shading&nbsp;&nbsp;<input id="verticalLines_shading_show" class="form-toggle" type="checkbox" value="" /></label>
						<div id="verticalLines_shading_form" class="form-group" style="display:none">
							{{ form.color('verticalLines_shading_color', 'Colour', 'rgba(0,0,0,0.1)') }}
							{{ form.checkbox('verticalLines_shading_fullHeight', 'Full Height') }}
						</div>
						<label class="large">Vertical Guides - Lines&nbsp;&nbsp;<input id="verticalLines_lines_show" class="form-toggle" type="checkbox" value="" /></label>
						<div id="verticalLines_lines_form" class="form-group" style="display:none">
							{{ form.line('verticalLines_lines', {color: 'rgba(0,0,0,0.3)', width: '1', dash: '3,1', cap: 'butt'}) }}
							{{ form.checkbox('verticalLines_lines_fullHeight', 'Full Height') }}
						</div>
					</div>
				</fieldset>
				<input type="submit" />
			</form>
		</div>
		<script>require(['methods/ui/ExportForm'],function(a){a.init();});</script>
	</section>
{% endblock %}