{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% block title %}Methods | {{ parent() }}{% endblock %}

{% block og_title %}Methods{% endblock %}
{% block og_description %}Method information for bellringers{% endblock %}

{% set breadcrumb = { 'title': 'Methods', 'href': path('Blueline_Methods_welcome') } %}

{% set search = false %}
{% set search_action = path( 'Blueline_Methods_search' ) %}
{% set search_placeholder = 'Search methods' %}

{% block body %}
	{% from 'BluelineBundle:Macros:header.html.twig' import header %}
	<section class="text">
		{{ header('Methods') }}
		<div class="wrap">
			<p>This site contains details of all methods in the <a href="http://www.methods.org.uk/" class="external">Central Council method collections</a> maintained by Tony Smith, and draws blue lines of them.</p>
			<h2>Search</h2>
			<p>Search for methods by name/stage using the box. Queries beginning with '/' will be interpreted as a <a href="https://en.wikipedia.org/wiki/Regular_expression" class="external">regular expression</a>.</p>
			<form id="search_dummy" role="search" action="{{ search_action }}">
				<div>
					<input type="text" name="q" id="q2" spellcheck="false" autocomplete="off" placeholder="{{ search_placeholder }}" value="" />
					<button type="submit" title="Search"><span class="hide">Search</span></button>
				</div>
			</form>
			<h2>Custom Method</h2>
			<p>To view a method not in the collections enter the stage and place notation below. Various abbreviated place notation formats are supported.</p>
			<form id="custom_method" action="{{ path( 'Blueline_Methods_custom_view' ) }}">
				<h3>Stage</h3>
				<div class="select-wrapper">
					<select id="custom_method_stage" name="stage">
						<option value="" disabled selected>…</option>
						<option value="4">4 - Minimus</option>
						<option value="5">5 - Doubles</option>
						<option value="6">6 - Minor</option>
						<option value="7">7 - Triples</option>
						<option value="8">8 - Major</option>
						<option value="9">9 - Caters</option>
						<option value="10">10 - Royal</option>
						<option value="11">11 - Cinques</option>
						<option value="12">12 - Maximus</option>
					</select>
				</div>
				<h3>Place Notation</h3>
				<div class="input-wrapper">
					<input id="custom_method_notation" name="notation" type="text" placeholder="…" autocomplete="off" autocapitalize="none" />
				</div>
				<p id="custom_method_notationParsed" class="placeholder">…</p>
				<input type="submit" value="View" />
			</form>
			{% autoescape false %}
			<script>require(['methods/ui/CustomForm'],function(){});</script>
			{% endautoescape %}
		</div>
	</section>
{% endblock %}
