{% if doveids is defined and doveids.length > 1 %}
	{% for doveid in doveids %}
		{% render path('Blueline_Towers_view', {'doveid':doveid, 'snippet':true}) with {}, {'standalone':true} %}
	{% endfor %}
{% else %}
{% from 'BluelineCCCBRDataBundle:Macros:header.html.twig' import header %}
<section class="tower">
	{{ header( { 'title': tower.place, 'title2': (tower.dedication != 'Unknown')? tower.dedication : null }, tower.countyCountry, { 'id': 'tower_'~id~'_tabBar', 'tabs': [
		{ 'title': 'Details', 'content': 'tower_details_'~id },
		{ 'title': 'Map', 'content': 'tower_map_'~id, 'className': 'normal_hide' },
		{ 'title': 'Methods First Pealed', 'content': 'tower_peals_'~id }
	] } ) }}
	<div id="tower_map_{{ id }}" class="staticMap">
		<noscript><h2>Map</h2></noscript>
		<img width="310px" height="380px" src="http://maps.google.com/maps/api/staticmap?format=png&amp;scale=2&amp;size=310x380&amp;maptype=roadmap&amp;sensor=false&amp;zoom=14&amp;center={{ tower.latitude }},{{ tower.longitude }}&amp;markers=size:small|color:red|{{ tower.latitude }},{{ tower.longitude }}" />
	</div>
	<script>
	{% autoescape false %}
	//<![CDATA[
		require( ['ui/TowerMap'], function( TowerMap ) {
			TowerMap.set( {
				zoom: 15,
				center: new google.maps.LatLng( {{ tower.latitude }}, {{ tower.longitude }} )
			} );
		} );
	{% endautoescape %}
	//]]>
	</script>
	<div id="tower_details_{{ id }}" class="details">
		<noscript><h2>Details</h2></noscript>
		<table>
			<tr>
				<th>Bells:</th>
				<td><strong>{{ tower.bells }}</strong></td>
			</tr>
			<tr>
				<th>Tenor:</th>
				<td><strong>{{ (tower.weightApprox?'~':'')~tower.weightText }}</strong> in {{ tower.note }}{{ tower.hz is not empty? ' ('~tower.hz~'Hz)' : '' }}</td>
			</tr>
{% if tower.affiliations is not empty %}
			<tr>
				<th>Affiliations:</th>
				<td>{% for association in tower.affiliations %}{% if not loop.first %}{{ loop.last? ' and ' : ', ' }}{% endif %}<a href="{{ path( 'Blueline_Associations_view', { 'abbreviation': association.abbreviation } ) }}">{{ association.name }}</a>{% endfor %}</td>
			</tr>
{% endif %}
			<tr>
				<th>Diocese:</th>
				<td>{{ tower.diocese }}</td>
			</tr>
			<tr>
				<th>Information:</th>
				<td>{#<?php
		$information = array();
		if( $tower->unringable() && stripos( $tower->extraInfo(),'unringable' ) === false ) {
			$information[] = 'Unringable. ';
		}
		if( $tower->extraInfo() ) {
			$extraInfo = preg_replace( array( '/([0-9]+)b/', '/([0-9]+)#/' ), array( '${1}&#x266d;', '${1}&#x266f;' ), $tower->extraInfo() );
			if( isset( $information[0] ) ) {
				$information[0] .= $extraInfo;
			}
			else {
				$information[] = $extraInfo;
			}
		}#}
					{% if tower.groundFloor %}Ground floor.<br />{% endif %}
					{% if tower.toilet %}Toilet available.<br />{% endif %}
					{% if tower.simulator %}Has a simulator.<br />{% endif %}
					{% if tower.overhaulYear %}Overhauled in {{ tower.overhaulYear }}{{ tower.contractor is not empty? ' by '~tower.contractor : '' }}.<br />{% endif %}
					{% if tower.tuned %}Tuned in {{ tower.tuned }}.<br />{% endif %}
					{% if tower.practiceNight > 0 or tower.practiceNotes is not empty %}
					Practice: {{ tower.practiceNight_day|default('') }}{{ tower.practiceStart is not empty?', '~tower.practiceStart : '' }}{{ tower.practiceNotes is not empty? ' - '~tower.practiceNotes : '' }}<br />
					{% endif %}
					{% if tower.webPage is not empty %}<a href="http://{{ tower.webPage }}" class="external">Tower Website</a>, {% endif %}<a href="http://dove.cccbr.org.uk/detail.php?DoveID={{ tower.doveid }}&showFrames=true" class="external">Dove Entry</a>
				</td>
			</tr>
{% if tower.postcode is not null %}
			<tr>
				<th>Postcode:</th>
				<td>{{ tower.postcode }}</td>
			</tr>
{% endif %}
{% if tower.gridReference is not null %}
			<tr>
				<th>Grid Reference:</th>
				<td>{{ tower.gridReference }}</td>
			</tr>
{% endif %}
		</table>
{#
{% if count( $tower->nearbyTowers() ) > 0 ) : ?>
		<h3>Nearby Towers:</h3>
		<ol>
<?php foreach( $tower->nearbyTowers() as $nTower ) : ?>
			<li><?='<a href="'.$nTower->href().'">' . $nTower->place().' <small>('.$nTower->dedication().')</small></a> <small>'.round( $nTower->distance(), 1 ).' miles</small>'?></li>
<?php endforeach; ?>
		</ol>
{% endif %}
#}
	</div>
	<div id="tower_peals_{{ id }}" class="firstPeals">
		<noscript><h2>First Peals</h2></noscript>
		<ol>
			{% for method in tower.firstPealedMethods %}
			<li><a href="{{ path( 'Blueline_Methods_view', { 'title': method.title|replace({' ':'_'}) } ) }}">{{ method.title }}</a> <small>({{ method.firstTowerbellPealDate|date('Y-m-d') }})</small></li>
			{% else %}
			<li>None</li>
			{% endfor %}
		</ol>
	</div>
</section>
{% endif %}
