{% extends 'BluelineCCCBRDataBundle::base.html.twig' %}

{% block title %}{{ pageTitle }} | Towers | {{ parent() }}{% endblock %}
{% set breadcrumb = [ {'title':'Towers', 'href':path('Blueline_Towers_welcome')} ] %}
{% set search_opensearch = 'towers' %}
{% set search_header = true %}
{% set search_action = path( 'Blueline_Towers_search' ) %}
{% set search_placeholder = 'Search towers' %}

{% block body %}
{% from 'BluelineCCCBRDataBundle:Macros:header.html.twig' import header %}
{% for tower in towers %}
	<section class="tower">
		{{ header( { 'title': tower.place, 'title2': (tower.dedication != 'Unknown')? tower.dedication : null }, list( [tower.county, tower.country],', ',', ' ), { 'id': 'tower_'~tower.ID~'_tabBar', 'tabs': [
			{ 'title': 'Details', 'content': 'tower_details_'~tower.ID },
			{ 'title': 'Map', 'content': 'tower_map_'~tower.ID, 'className': 'l700' },
			(tower.firstPealedMethods is not empty)? { 'title': 'Methods First Pealed', 'content': 'tower_peals_'~tower.ID } : {}
		] } ) }}
		<div id="tower_map_{{ tower.ID }}" class="staticMap" data-image="//maps.google.com/maps/api/staticmap?format=png&amp;scale=2&amp;size=310x380&amp;maptype=roadmap&amp;sensor=false&amp;zoom=14&amp;center={{ tower.latitude }},{{ tower.longitude }}&amp;markers=size:small|color:red|{{ tower.latitude }},{{ tower.longitude }}">
			<noscript>
				<h2>Map</h2>
				<img width="310px" height="380px" src="//maps.google.com/maps/api/staticmap?format=png&amp;scale=2&amp;size=310x380&amp;maptype=roadmap&amp;sensor=false&amp;zoom=14&amp;center={{ tower.latitude }},{{ tower.longitude }}&amp;markers=size:small|color:red|{{ tower.latitude }},{{ tower.longitude }}" />
			</noscript>
		</div>
		<div id="tower_details_{{ tower.ID }}" class="details">
			<noscript><h2>Details</h2></noscript>
			<dl>
				<dt>Bells</dt>
				<dd>
					<strong>{{ tower.bells }}</strong> bells{% if tower.unringable %} (Unringable){% endif %}<br />
					<strong>{{ (tower.weightApprox?'~':'')~tower.weightText }}</strong> in {{ tower.note|addAccidentals }}{{ (tower.hz is not empty? ' <small>('~tower.hz~'Hz)</small>' : '')|raw }}
				</dd>
{% if tower.affiliations is not empty %}
				<dt>Affiliations</dt>
				<dd>{% for association in tower.affiliations %}{% if not loop.first %}{{ loop.last? ' and ' : ', ' }}{% endif %}<a href="{{ path( 'Blueline_Associations_view', { 'abbreviation': association.abbreviation } ) }}">{{ association.name }}</a>{% endfor %}</dd>
{% endif %}
{% if tower.diocese is not empty or tower.postcode is not empty or tower.gridReference is not empty %}
				<dt>Location</dt>
				<dd>
					Diocese: {{ tower.diocese }}<br />
{% if tower.postcode is not empty %}
{% if tower.country in ['USA'] %}
					Zip&nbsp;Code {{ tower.postcode }}<br />
{% else %}
					Postcode: {{ tower.postcode }}<br />
{% endif %}
{% endif %}
{% if tower.gridReference is not empty %}
					Grid&nbsp;Reference: {{ tower.gridReference }}<br />
{% endif %}
{% endif %}
				</dd>
				<dt>Information</dt>
				<dd>
					{% if tower.extraInfo is not empty %}{{ tower.extraInfo|addAccidentals }}<br />{% endif %}
					{% if tower.overhaulYear %}Overhauled in {{ tower.overhaulYear }}{{ tower.contractor is not empty? ' by '~tower.contractor : '' }}.<br />{% endif %}
					{% if tower.tuned %}Tuned in {{ tower.tuned }}.<br />{% endif %}
					{% if tower.toilet %}Toilet available.<br />{% endif %}
					{% if tower.simulator %}Has a simulator.<br />{% endif %}
					{% if tower.practiceNight > 0 or tower.practiceNotes is not empty %}
					Practice: {{ dayToString( tower.practiceNight ) }}{{ tower.practiceStart is not empty?', '~tower.practiceStart : '' }}{{ tower.practiceNotes is not empty? ' - '~tower.practiceNotes : '' }}<br />
					{% endif %}
					{% if tower.webPage is not empty %}<a href="http://{{ tower.webPage }}" class="external">Tower Website</a>, {% endif %}<a href="http://dove.cccbr.org.uk/detail.php?DoveID={{ tower.doveid }}&showFrames=true" class="external">Dove Entry</a>
				</dd>
			</dl>
			<h3>Nearby Towers:</h3>
			<ol>
{% set nearbyTowers2 = nearbyTowers[loop.index0]|default([]) %}
{% for tower2 in nearbyTowers2 %}
				<li><a href="{{ path( 'Blueline_Towers_view', {'doveid':tower2.doveid} ) }}">{{ tower2.place}} <small>({{ tower2.dedication }})</small><small class="extra"> {{ round( tower2.distance, 1 ) }} miles</small></a></li>
{% else %}
				<li>None</li>
{% endfor %}
			</ol>
		</div>
		<div id="tower_peals_{{ tower.ID }}" class="firstPeals">
			<noscript><h2>First Peals</h2></noscript>
			<ol>
				{% for method in tower.firstPealedMethods %}
				<li><a href="{{ path( 'Blueline_Methods_view', { 'title': method.title|replace({' ':'_'}) } ) }}">{{ method.title }}<small class="extra"> ({{ method.firstTowerbellPealDate|date('Y-m-d') }})</small></a></li>
				{% else %}
				<li>None</li>
				{% endfor %}
			</ol>
		</div>
	</section>
{% endfor %}
	<script>
{% autoescape false %}
	//<![CDATA[
		require( ['ui/TowerMap'], function( TowerMap ) {
			TowerMap.set( {
{% if count(towers) > 1 %}
				fitBounds: [{{ bbox.lat_min }},{{ bbox.long_min }},{{ bbox.lat_max }},{{ bbox.long_max }}],
{% else %}
				zoom: 15,
				center: [{{ towers[0].latitude }},{{ towers[0].longitude }}]
{% endif %}
			} );
		} );
{% endautoescape %}
	//]]>
	</script>
{% endblock %}
