{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% block title %}Search | Towers | {{ parent() }}{% endblock %}

{% block og_title %}Towers{% endblock %}
{% block og_description %}Tower information for bellringers{% endblock %}

{% set breadcrumb = { 'title': 'Towers', 'href': path('Blueline_Towers_welcome') } %}

{% set search = true %}
{% set search_action = path( 'Blueline_Towers_search' ) %}
{% set search_placeholder = 'Search towers' %}

{% block body %}
	{% from 'BluelineBundle:Macros:paging.html.twig' import paging %}
	<section class="search">
		{% if towers is not empty %}
		<ol>
		{% for tower in towers %}
			<li><a href="{{ path( 'Blueline_Towers_view', { 'id': tower.id } ) }}">{{ tower.place }} <small>({{ tower.dedication }})</small></a></li>
		{% endfor %}
		</ol>
		{{ paging( 'Blueline_Towers_search', searchVariables, pageActive, pageCount ) }}
		{% else %}
		<p class="nothing">No results</p>
		{% endif %}
	</section>
{% endblock %}
