{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% block title %}{{ pageTitle }} | Towers | {{ parent() }}{% endblock %}

{% block og_title %}{{ pageTitle }}{% endblock %}
{% block og_description %}Tower information for bellringers{% endblock %}

{% set breadcrumb = { 'title': 'Towers', 'href': path('Blueline_Towers_welcome') } %}

{% set search = false %}

{% block body %}
{% from 'BluelineBundle:Macros:header.html.twig' import header %}
{% for tower in towers %}
	<section class="tower">
		{{ header( { 'title': tower.place, 'title2': (tower.dedication != 'Unknown')? tower.dedication : null }, list( [tower.county, tower.country],', ',', ' ), { 'id': 'tower_'~tower.id~'_tabBar', 'tabs': [
			{ 'title': 'Details', 'content': 'tower_details_'~tower.id },
			{ 'title': 'Map', 'content': 'tower_map_'~tower.id, 'className': 'l700' },
			(tower.firstPealPerformances|default([]) is not empty)? { 'title': 'Methods First Pealed', 'content': 'tower_peals_'~tower.id } : {}
		] } ) }}
		<div id="tower_map_{{ tower.id }}" class="staticMap" data-ll="{{ tower.latitude }},{{ tower.longitude }}" data-image="//maps.google.com/maps/api/staticmap?format=png&amp;scale=2&amp;size=310x380&amp;maptype=roadmap&amp;sensor=false&amp;zoom=14&amp;center={{ tower.latitude }},{{ tower.longitude }}&amp;markers=size:small|color:red|{{ tower.latitude }},{{ tower.longitude }}">
			<noscript>
				<h2>Map</h2>
				<img width="310" height="380" alt="Map of tower location" src="//maps.google.com/maps/api/staticmap?format=png&amp;scale=2&amp;size=310x380&amp;maptype=roadmap&amp;sensor=false&amp;zoom=14&amp;center={{ tower.latitude }},{{ tower.longitude }}&amp;markers=size:small|color:red|{{ tower.latitude }},{{ tower.longitude }}" />
			</noscript>
		</div>
		<div id="tower_details_{{ tower.id }}" class="details">
			<noscript><h2>Details</h2></noscript>
			<dl>
				<dt>Bells</dt>
				<dd>
					<strong>{{ tower.bells }}</strong> bells{% if tower.unringable %} (Unringable){% endif %}<br />
					<strong>{{ (tower.weightApprox?'~':'')~tower.weightText }}</strong> in {{ tower.note|addAccidentals }}{{ (tower.hz is not empty? ' <small>('~tower.hz~'Hz)</small>' : '')|raw }}
				</dd>
				{% if tower.associations is not empty %}
					<dt>Affiliations</dt>
					<dd>{% for association in tower.associations %}{% if not loop.first %}{{ loop.last? ' and ' : ', ' }}{% endif %}<a href="{{ path( 'Blueline_Associations_view', { 'id': association.id } ) }}">{{ association.name }}</a>{% endfor %}</dd>
				{% endif %}
				{% if tower.diocese is not empty or tower.postcode is not empty or tower.gridReference is not empty %}
					<dt>Location</dt>
					<dd>Diocese: {{ tower.diocese }}<br />{% if tower.postcode is not empty %}{{ (tower.country in ['USA']) ? 'Zip&nbsp;Code:' : 'Postcode:' }} {{ tower.postcode }}<br />{% endif %}{% if tower.gridReference is not empty %}Grid&nbsp;Reference: {{ tower.gridReference }}<br />{% endif %}</dd>
				{% endif %}
				<dt>Information</dt>
				<dd>
					{% if tower.extraInfo is not empty %}{{ tower.extraInfo|addAccidentals }}<br />{% endif %}
					{% if tower.overhaulYear %}Overhauled in {{ tower.overhaulYear }}{{ tower.contractor is not empty? ' by '~tower.contractor : '' }}.<br />{% endif %}
					{% if tower.tunedYear %}Tuned in {{ tower.tunedYear }}.<br />{% endif %}
					{% if tower.toilet %}Toilet available.<br />{% endif %}
					{% if tower.simulator %}Has a simulator.<br />{% endif %}
					{% if tower.practiceNight > 0 or tower.practiceNotes is not empty %}
					Practice: {{ dayToString( tower.practiceNight ) }}{{ tower.practiceStart is not empty?', '~tower.practiceStart : '' }}{{ tower.practiceNotes is not empty? ' - '~tower.practiceNotes : '' }}<br />
					{% endif %}
					{% if tower.webPage is not empty %}<a href="{{ tower.webPage }}" class="external">Tower Website</a>, {% endif %}<a href="{{ tower.doveLink }}" class="external">Dove Entry</a>
				</dd>
			</dl>
			<h3>Nearby Towers</h3>
			<ol>
				{% set nearbyTowers2 = nearbyTowers[loop.index0]|default([]) %}
				{% for tower2 in nearbyTowers2 %}
					<li><a href="{{ path( 'Blueline_Towers_view', {'id':tower2.id} ) }}">{{ tower2.place}} <small>({{ tower2.dedication }})</small><small class="extra"> {{ round( tower2.distance, 1 ) }} miles</small></a></li>
				{% else %}
					<li class="none">None</li>
				{% endfor %}
			</ol>
			<h3>Data Source and Copyright</h3>
			<dl><dd>Details on the <a href="{{ path( 'Blueline_Pages_view', { 'page': 'about' } ) }}">about page</a>.<dd></dl>
		</div>
		<div id="tower_peals_{{ tower.id }}" class="firstPeals">
			<noscript><h2>First Peals</h2></noscript>
			<ol>
				{% for performance in tower.firstPealPerformances|default([]) %}
					<li><a href="{{ path( 'Blueline_Methods_view', { 'title': performance.method.url } ) }}">{{ performance.method.title }}<small class="extra"> ({{ performance.date|date('Y-m-d') }})</small></a></li>
				{% else %}
					<li class="none">None</li>
				{% endfor %}
			</ol>
		</div>
	</section>
{% endfor %}
{% autoescape false %}
<script>require(['shared/ui/Map'],function(a){a.set({ {% if count(towers) > 1 %}fitBounds:[{{ bbox.lat_min }},{{ bbox.long_min }},{{ bbox.lat_max }},{{ bbox.long_max }}],{% else %}zoom:15,center:[{{ towers[0].latitude }},{{ towers[0].longitude }}]{% endif %} });});</script>
{% endautoescape %}
{% endblock %}
