{% apply spaceless %}
<!DOCTYPE html>
<html lang="en"{{ isAppStartPage ? ' manifest="site.manifest"' : '' }} data-age="{{ html_age }}">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Blueline{% endblock %}</title>
		<meta name="application-name" content="Blueline" />

		{# Icons #}
		<link rel="icon" type="image/svg+xml" sizes="any" href="{{ app.request.basepath }}/favicon.svg" />
		<link rel="alternate icon" type="image/x-icon" sizes="16x16 32x32 48x48" href="{{ app.request.basepath }}/favicon.ico" />
		<link rel="mask-icon" href="{{ app.request.basepath }}/images/maskicon.svg" color="#002856" />

		{# Web app manifest #}
		<link rel="manifest" href="{{ path( 'Blueline_resource', { page: 'manifest', _format: 'json' } ) }}" />

		{# Chrome web app link #}
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/blueline/ohgpoagcfmlbkdniokohgicofokpbpae" />

		{# Chrome web app tags #}
		<meta name="mobile-web-app-capable" content="yes" />
		<link rel="icon" sizes="192x192" href="{{ app.request.basepath }}/images/androidicon-192x192.png" />

		{# iOS meta tags #}
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="apple-mobile-web-app-title" content="Blueline" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<link rel="apple-touch-icon" href="{{ app.request.basepath }}/images/appicon-180x180.png" />

		{# IE Pinned Sites tags #}
		<meta name="msapplication-starturl" content="{{ app.request.scheme ~  '://' ~ app.request.host ~ path( 'Blueline_welcome' ) }}" />
		<meta name="msapplication-config" content="{{ path( 'Blueline_resource', { page: 'browserconfig', _format: 'xml' } ) }}" />

		{# Color browser address bars #}
		<meta name="theme-color" content="#002856" />
		<meta name="msapplication-navbutton-color" content="#002856" />

		{# Meta description #}
		{% set _block = block('og_description') %}
		{% if _block is not empty %}
		<meta name="description" content="{{ _block|raw }}" />
		{% endif %}

		{# Opengraph tags #}
		<meta property="og:title" content="{% block og_title %}Blueline{% endblock %}" />
		<meta property="og:description" content="{% block og_description %}Information for bellringers{% endblock %}" />
		{% if status_code is not defined %}<meta property="og:url" content="{{ url( app.request.attributes.get( '_route' ), app.request.attributes.get( '_route_params' ) ) }}" />{% endif %}
		<meta property="og:type" content="{% block og_type %}website{% endblock %}" />
		<meta property="og:image" content="{% block og_image %}{{ app.request.basepath }}/images/appicon-180x180.png{% endblock %}" />
		<meta property="og:site_name" content="Blueline" />

		{# oEmbed tags #}
		{% block oembed %}{% endblock %}

		{# Stylesheets #}
		<link rel="stylesheet" media="all" href="{{ app.request.basepath }}/css/all.css?v={{ html_age }}" />
		<link rel="stylesheet" media="print" href="{{ app.request.basepath }}/css/print.css?v={{ html_age }}" />

		{# Analytics code #}
		{% if analytics_code is not empty %}
		<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', '{{ analytics_code }}', 'auto');ga('send', 'pageview');</script>
		{% endif %}
	</head>
	<body>
		{% if isAppStartPage %}
			<script>if(('standalone' in navigator)&&navigator.standalone){document.write('<div id="appStart"><header></header><p>Loading</p></div>');document.body.className="standalone";}</script>
		{% endif %}
		<header id="top" role="banner">
			<h1><a href="{{ path('Blueline_welcome') }}">Blueline</a></h1>
			{% if breadcrumb is defined %}
				<h2 id="breadcrumb_sep">&raquo;</h2>
				<h2 id="breadcrumb"><a href="{{ breadcrumb.href }}">{{ breadcrumb.title}}</a></h2>
			{% endif %}
		</header>
		<form id="search" role="search" action="{{ search_action|default('/') }}"{{ search|default(false) ? '' : ' style="display:none"' }}>
			<div>
				<input type="text" accesskey="/" name="q" id="q" spellcheck="false" autocomplete="off" placeholder="{{ search_placeholder|default('Search') }}" value="{{ searchVariables['q']|default('') }}" />
				<button type="submit" title="Search"><span class="hide">Search</span></button>
			</div>
		</form>
		<div id="content" role="main"{{ search|default(false) ? ' class="searchable"' : '' }}>
			{% block body %}{% endblock %}
		</div>
		<script src="{{ app.request.basepath }}/js/main.js?v={{ html_age }}" async></script>
	</body>
</html>
{% endapply %}
