{% macro header( title, subtitle, tabs ) %}
<header>
	<h1>{% if title.title is defined %}{{ title.title }}{% if title.title2 is defined and title.title2 is not empty %} <span class="normalweight">({{ title.title2 }})</span>{% endif %}{% else %}{{ title }}{% endif %}</h1>
	{% if subtitle is not empty %}<h2>{{ subtitle }}</h2>{% endif %}
	{% if tabs is not empty %}
		<span id="{{ tabs.id }}" class="TabBar" data-set="{{ {
			landmark: tabs.id,
			tabs: tabs.tabs,
			active: tabs.active|default(0)
		}|json_encode() }}"></span>
	{% endif %}
</header>
{% endmacro %}
