{% spaceless %}
{% if chromeless|default(0) < 2 %}
<!DOCTYPE html>
{% if appStartPage|default(0) and cache_manifest|default(0) %}
<html lang="en" manifest="site.manifest">
{% else %}
<html lang="en">
{% endif %}
	<head>
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<title>{% block title %}Blueline{% endblock %}</title>
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="apple-touch-startup-image" sizes="640x920" href="{{ asset('images/appStart/640x920.png') }}" />
		<link rel="apple-touch-startup-image" href="{{ asset('images/appStart/320x460.png') }}" />
		<meta name="application-name" content="Blueline" />
		<meta name="msapplication-starturl" content="{{ url( 'Blueline_welcome' ) }}" />
		<link rel="icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}" sizes="any" />
		<link rel="alternate icon" type="image/x-ixon" href="{{ asset('favicon.ico') }}" sizes="16x16 24x24 48x48" />
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ohgpoagcfmlbkdniokohgicofokpbpae" />
		{% if search_opensearch is defined %}
			<link rel="search" type="application/opensearchdescription+xml" href="{{ path( 'Blueline_Opensearch_description', { 'type': search_opensearch, '_format': 'xml' } ) }}" title="{{ search_opensearch|title }} | Blueline" />
		{% endif %}
		<link type="text/plain" rel="author" href="{{ path( 'Blueline_page', {'page':'humans','_format':'txt'} ) }}" />
		<!--[if lt IE 9]><script src="{{ asset('scripts/ieCompat.js') }}"></script><![endif]-->
		{% stylesheets '@BluelineCCCBRDataBundle/Resources/public/css/normalize.css' '@BluelineCCCBRDataBundle/Resources/public/css/fonts.css' '@BluelineCCCBRDataBundle/Resources/public/css/default.less' output='css/default.css' filter='less, ?yui_css' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
		{% stylesheets '@BluelineCCCBRDataBundle/Resources/public/css/normalize.css' '@BluelineCCCBRDataBundle/Resources/public/css/print.less' output='css/print.css' filter='less, ?yui_css' %}
			<link rel="stylesheet" media="print" href="{{ asset_url }}" />
		{% endstylesheets %}
		{% stylesheets '@BluelineCCCBRDataBundle/Resources/public/css/old_ie.less' output='css/old_ie.css' filter='less, ?yui_css' %}
			<!--[if lt IE 9]><link rel="stylesheet" href="{{ asset_url }}" /><![endif]-->
		{% endstylesheets %}
		<script data-main="{{ asset('scripts/main') }}" src="{{ asset('scripts/require.js') }}"></script>
		{% if ga_trackingCode is defined and ga_trackingCode is not empty %}
			<script>var _gaq=[['_setAccount','{{ ga_trackingCode }}'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
		{% endif %}
	</head>
	<body>
		{% if appStartPage|default(0) %}
			<script>if(('standalone' in navigator)&&navigator.standalone){document.write('<div id="appStart"><header></header><p>Loading</p></div>');}</script>
		{% endif %}
		<script></script>
		<div id="wrapper"{{ (chromeless|default(0) > 0)? ' style="margin-bottom:0"' : '' }}>
			<header id="top" role="banner"{{ (chromeless|default(0) > 0)? ' style="display:none"' : '' }}>
				<h1><a href="{{ path('Blueline_welcome') }}">Blueline</a></h1>
				<div id="breadcrumbContainer">
					{% for crumb in breadcrumb|default([]) %}
						<span class="headerSep">&raquo;</span>
						<h2><a href="{{ crumb.href }}">{{ crumb.title }}</a></h2>
					{% endfor %}
				</div>
				<div id="topSearchContainer"{{ search_header|default(false) ? '' : ' style="display: none;"' }}>
					<span class="headerSep">&raquo;</span>
					<form id="topSearch" role="search" action="{{ search_action|default('') }}">
						<input type="text" accesskey="/" name="q" id="smallQ" spellcheck="false" autocomplete="off" placeholder="{{ search_placeholder|default('Search') }}" />
						<button type="submit" title="Search"><span class="hide">Search</span></button>
					</form>
				</div>
			</header>
			<div id="bigSearchContainer"{{ search_big|default(false) ? '' : ' style="display: none;"' }}>
				<form id="bigSearch" role="search" action="{{ search_action|default('') }}">
					<div>
					<input type="text" accesskey="/" name="q" id="bigQ" spellcheck="false" autocomplete="off" placeholder="{{ search_placeholder|default('Search') }}" value="{{ searchVariables['q']|default('') }}" />
					<button type="submit" title="Search"><span class="hide">Search</span></button>
					</div>
				</form>
			</div>
			<div id="content" role="main">
{% endif %}
				{% block body %}{% endblock %}
{% if chromeless|default(0) < 2 %}
			</div>
			<div id="push"{{ (chromeless|default(0) > 0)? ' style="display:none"' : '' }}></div>
		</div>
		<footer id="bottom"{{ (chromeless|default(0) > 0)? ' style="display:none"' : '' }}>
			<nav role="navigation"><a href="{{ path('Blueline_welcome') }}">Home</a> | <a href="{{ path('Blueline_Associations_welcome') }}">Associations</a> | <a href="{{ path('Blueline_Methods_welcome') }}">Methods</a> | <a href="{{ path('Blueline_Towers_welcome') }}">Towers</a></nav>
			<p role="contentinfo"><a href="{{ path('Blueline_page', { 'page':'about' }) }}">About</a> | <a href="{{ path('Blueline_page', { 'page':'copyright' }) }}">Copyright</a> | Blueline &copy; MMXII</p>
		</footer>
	</body>
</html>
{% endif %}
{% endspaceless %}
