{% extends chromeless ? 'base.chromeless.html.twig': 'base.html.twig' %}

{% block title %}{{ method.title }} | Methods | {{ parent() }}{% endblock %}

{% block preload %}<link rel="preload" href="{{ app.request.basepath }}/fonts/Blueline.woff2" as="font" type="font/woff2" crossorigin="anonymous" />{% endblock %}

{% block og_title %}{{ method.title }}{% endblock %}
{% block og_description %}Blue line and other details for {{ method.title }}. Classification: {{ (method.differential? 'Differential ':'') ~ (method.little? 'Little ':'') ~ method.classification ~ ' ' ~ method.stageText }}, Place Notation: {{ method.notation }}{% endblock %}
{% block og_image %}{{ url( 'Blueline_Methods_view', { 'url': method.url, '_format': 'png', 'scale': 1, 'style': 'numbers' } ) }}{% endblock %}
{% block oembed %}<link rel="alternate" type="application/json+oembed" href="{{ url('Blueline_Services_oembed', {'_format': 'json', 'url': url('Blueline_Methods_view', {'url': method.url})}) }}" title="{{ method.title }}" />{% endblock %}

{% set breadcrumb = { 'title': 'Methods', 'href': path('Blueline_Methods_welcome') } %}

{% set search = false %}

{% block body %}
{% from 'Macros/header.html.twig' import header %}
	<section class="method">
		{{ header( { 'title': method.title }, null, { 'id': 'method_tabBar', 'active': 1, 'tabs': [
			{ 'title': 'Details', 'content': 'method_details' },
			{ 'title': 'Line', 'content': 'method_line' },
			{ 'title': 'Grid', 'content': 'method_grid' },
			(method.stage <= 12)? { 'title': 'Practice', 'content': 'method_practice', 'external': 'https://bobwallis.github.io/MethodTutor/#title='~method.title|url_encode~'&notation='~method.notation|url_encode~'&stage='~method.stage~'&ruleoffs='~method.ruleOffs|json_encode()|url_encode~'&allowMethodSelection=false', 'onclick': 'window.open(this.href,\'targetWindow\',\'toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=yes,width=500,height=650\');return false;' } : {}
		] } ) }}
		<div id="method_details" class="details">
			<dl>
{% if method.provisional %}
				<dt class="alone">This method is provisionally named</dt>
{% endif %}
{% if method.renamed is not empty %}
				<dt>Originally named</dt>
				<dd>
				{% for renamed in method.renamed %}
					{{ renamed.rungTitle }}{{ renamed.date ? (' on <time datetime="'~renamed.date|date('Y-m-d')~'">'~renamed.date|date('j<\\s\\up>S</\\s\\up> M Y')~'</time>')|raw }}<br />
				{% endfor %}
				</dd>
{% endif %}
				<dt>Classification</dt>
				<dd>{{ (method.differential? 'Differential ':'') ~ (method.little? 'Little ':'') ~ method.classification ~ ' ' ~ method.stageText }}</dd>
				<dt>Place&nbsp;Notation</dt>
				<dd><abbr title="{{ method.notationExpanded }}">{{ method.notation }}</abbr></dd>
				<dt>Lead&nbsp;Head</dt>
				<dd>{{ (method.leadHead ~ (method.leadHeadCode? ' <small>(Code: ' ~ method.leadHeadCode ~ ')</small>' : ''))|raw }}</dd>
{% if method.palindromic or method.doubleSym or method.rotational %}
				<dt>Symmetry</dt>
				<dd>{{ method.symmetryText }}</dd>
{% endif %}
{% if method.fchGroups is not empty %}
				<dt><abbr title="False Course Head">FCH</abbr>&nbsp;Groups</dt>
				<dd>{{ method.fchGroups }}</dd>
{% endif %}
				<dt>Hunt&nbsp;Bells</dt>
				<dd>{{ ( method.numberOfHunts > 0 )? method.hunts|join(', ') : 'None' }}</dd>
{% if method.lengthOfLead > 0 %}
				<dt>Lengths</dt>
				<dd>{{ method.lengthOfLead }} rows per lead<br/>{{ method.lengthOfCourse }} rows per course ({{ method.lengthOfCourse / method.lengthOfLead }} leads)</dd>
{% endif %}
{% if method.duplicates is not empty %}
				<dt>Method also pealed as</dt>
				<dd>
				{% for duplicate in method.duplicates %}
					'{{ duplicate.rungTitle }}'{{ duplicate.date ? (' on <time datetime="'~duplicate.date|date('Y-m-d')~'">'~duplicate.date|date('j<\\s\\up>S</\\s\\up> M Y')~'</time>')|raw }}{{ duplicate.reference ? ' ('~duplicate.reference~')' }}<br />
				{% endfor %}
				</dd>
{% endif %}
{% if similarMethods is defined and (similarMethods.differentOnlyAtLeadEnd is not empty or similarMethods.differentOnlyAtHalfLead is not empty or similarMethods.differentOnlyAtHalfLeadAndLeadEnd or similarMethods.other is not empty ) %}
				<dt>Similar Methods</dt>
				<dd>
{% if similarMethods.differentOnlyAtLeadEnd is not empty %}
				<em>Different Only Over Lead End</em><br />
{% endif %}
				{% for method2 in similarMethods.differentOnlyAtLeadEnd %}
					&nbsp;<a href="{{ path( 'Blueline_Methods_view', { 'url': method2.url } ) }}">{{ method2.title }}</a> ({{ method2.leadEndNotation }})<br />
				{% endfor %}
{% if similarMethods.differentOnlyAtHalfLead is not empty %}
				{% if similarMethods.differentOnlyAtLeadEnd is not empty %}<br />{% endif %}
				<em>Different Only Over Half Lead</em><br />
{% endif %}
				{% for method2 in similarMethods.differentOnlyAtHalfLead %}
					&nbsp;<a href="{{ path( 'Blueline_Methods_view', { 'url': method2.url } ) }}">{{ method2.title }}</a> ({{ method2.halfLeadNotation }})<br />
				{% endfor %}
{% if similarMethods.differentOnlyAtHalfLeadAndLeadEnd is not empty %}
				{% if similarMethods.differentOnlyAtLeadEnd is not empty or similarMethods.differentOnlyAtHalfLead is not empty %}<br />{% endif %}
				<em>Different Only Over Lead End and Half Lead</em><br />
{% endif %}
				{% for method2 in similarMethods.differentOnlyAtHalfLeadAndLeadEnd %}
					&nbsp;<a href="{{ path( 'Blueline_Methods_view', { 'url': method2.url } ) }}">{{ method2.title }}</a> ({{ method2.halfLeadNotation }}, {{ method2.leadEndNotation }})<br />
				{% endfor %}
{% if (similarMethods.differentOnlyAtLeadEnd is not empty or similarMethods.differentOnlyAtHalfLead is not empty or similarMethods.differentOnlyAtHalfLeadAndLeadEnd is not empty) and similarMethods.other is not empty %}
				<br /><em>Other Similar Methods</em><br />
{% endif %}
				{% for method2 in similarMethods.other %}
					{% if similarMethods.differentOnlyAtLeadEnd is not empty or similarMethods.differentOnlyAtHalfLead is not empty or similarMethods.differentOnlyAtHalfLeadAndLeadEnd is not empty %}&nbsp;{% endif %}<a href="{{ path( 'Blueline_Methods_view', { 'url': method2.url } ) }}">{{ method2.title }}</a><br />
				{% endfor %}
				</dd>
{% endif %}
{% if method.firstTowerbellPeal is not empty %}
				<dt>First&nbsp;towerbell&nbsp;peal</dt>
				<dd><time datetime="{{ method.firstTowerbellpeal.date|date('Y-m-d') }}">{{ method.firstTowerbellPeal.date|date('j<\\s\\up>S</\\s\\up> M Y')|raw }}</time>{% if method.firstTowerbellPeal.location is not empty %} at {{ method.firstTowerbellPeal.location }}{% endif %}</dd>
{% endif %}
{% if method.firstHandbellPeal is not empty %}
				<dt>First&nbsp;handbell&nbsp;peal</dt>
				<dd><time datetime="{{ method.firstHandbellPeal.date|date('Y-m-d') }}">{{ method.firstHandbellPeal.date|date('j<\\s\\up>S</\\s\\up> M Y')|raw }}</time>{% if method.firstHandbellPeal.location is not empty %} at {{ method.firstHandbellPeal.location }}{% endif %}</dd>
{% endif %}
				<dt>Download as image</dt>
{% if custom is not defined or not custom %}
				<dd><a href="{{ path( 'Blueline_Methods_view', { 'url': method.url, '_format': 'png', 'scale': 2, 'style': 'numbers' } ) }}" class="external" data-forcerefresh="true">Numbers</a><br/><a href="{{ path( 'Blueline_Methods_view', { 'url': method.url, '_format': 'png', 'scale': 2, 'style': 'grid' } ) }}" class="external" data-forcerefresh="true">Grid</a></dd>
{% else %}
				<dd><a href="{{ path( 'Blueline_Methods_custom_view', { 'stage': method.stage, 'notation': method.notation, '_format': 'png', 'scale': 2, 'style': 'numbers' } ) }}" class="external" data-forcerefresh="true">Numbers</a><br/><a href="{{ path( 'Blueline_Methods_custom_view', { 'stage': method.stage, 'notation': method.notation, '_format': 'png', 'scale': 2, 'style': 'grid' } ) }}" class="external" data-forcerefresh="true">Grid</a></dd>
{% endif %}
				<dt>Data Source and Copyright</dt>
				<dd>Details on the <a href="{{ path( 'Blueline_Pages_view', { 'page': 'about' } ) }}">about page</a>.</dd>
			</dl>
		</div>
		<div id="method_line" class="line"><noscript><div class="wrap"><img src="{{ path( 'Blueline_Methods_view', { 'url': method.url, '_format': 'png', 'scale': 1, 'style': 'numbers' } ) }}" alt="{{ method.title }}" /></div></noscript></div>
		<div id="method_grid" class="grid"><noscript><div class="wrap"><img src="{{ path( 'Blueline_Methods_view', { 'url': method.url, '_format': 'png', 'scale': 1, 'style': 'grid' } ) }}" alt="{{ method.title }}" /></div></noscript></div>
		<div class="MethodView" data-set="{{ {
			id: 0,
			lineContainer: '#method_line',
			gridContainer: '#method_grid',
			stage: method.stage,
			notation: method.notationExpanded,
			calls: method.calls|default(false),
			callingPositions: method.callingPositions|default(false),
			ruleOffs: method.ruleOffs
		}|json_encode() }}"></div>
	</section>
{% endblock %}
