{% apply spaceless %}
<!DOCTYPE html>
<html lang="en" data-age="{{ html_age }}">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Blueline{% endblock %}</title>
		<meta name="application-name" content="Blueline" />

		{# Icons #}
		<link rel="icon" type="image/svg+xml" sizes="any" href="{{ app.request.basepath }}/favicon.svg" />
		<link rel="icon" href="{{ app.request.basepath }}/favicon.ico" />

		{# Preload tags #}
		{% block preload %}{% endblock %}

		{# Web app manifest #}
		<link rel="manifest" href="{{ path( 'Blueline_resource', { page: 'manifest', _format: 'json' } ) }}" />

		{# Chrome web app link #}
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/blueline/ohgpoagcfmlbkdniokohgicofokpbpae" />

		{# Chrome web app tags #}
		<meta name="mobile-web-app-capable" content="yes" />

		{# iOS meta tags #}
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="apple-mobile-web-app-title" content="Blueline" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="apple-touch-icon" href="{{ app.request.basepath }}/images/appicon-180x180.png" />

		{# Color browser address bars #}
		<meta name="theme-color" content="#002856" />

		{# Meta description #}
		{% set _block = block('og_description') %}
		{% if _block is not empty %}
		<meta name="description" content="{{ _block|raw }}" />
		{% endif %}

		{# Opengraph tags #}
		<meta property="og:title" content="{% block og_title %}Blueline{% endblock %}" />
		<meta property="og:description" content="{% block og_description %}Information for bellringers{% endblock %}" />
		{% if status_code is not defined %}<meta property="og:url" content="{{ url( app.request.attributes.get( '_route' ), app.request.attributes.get( '_route_params' ) ) }}" />{% endif %}
		<meta property="og:type" content="{% block og_type %}website{% endblock %}" />
		<meta property="og:image" content="{% block og_image %}{{ app.request.basepath }}/images/appicon-180x180.png{% endblock %}" />
		<meta property="og:site_name" content="Blueline" />

		{# oEmbed tags #}
		{% block oembed %}{% endblock %}

		{# Stylesheets #}
		<link rel="stylesheet" media="all" href="{{ app.request.basepath }}/css/all.css?v={{ html_age }}" />
		<link rel="stylesheet" media="print" href="{{ app.request.basepath }}/css/print.css?v={{ html_age }}" />

	</head>
	<body>
		{% if isAppStartPage %}
			<script>if(('standalone' in navigator)&&navigator.standalone){document.body.className="standalone";}</script>
		{% endif %}
		<header id="top" role="banner">
			<h1><a href="{{ path('Blueline_welcome') }}">Blueline</a></h1>
			{% if breadcrumb is defined %}
				<h2 id="breadcrumb_sep">&raquo;</h2>
				<h2 id="breadcrumb"><a href="{{ breadcrumb.href }}">{{ breadcrumb.title}}</a></h2>
			{% endif %}
			<div id="settings_button"></div>
		</header>
		<form id="search" role="search" action="{{ search_action|default('/') }}"{{ search|default(false) ? '' : ' style="display:none"' }}>
			<div>
				<input type="text" accesskey="/" name="q" id="q" spellcheck="false" autocomplete="off" placeholder="{{ search_placeholder|default('Search') }}" value="{{ searchVariables['q']|default('') }}" />
				<button type="submit" title="Search"><span class="hide">Search</span></button>
			</div>
		</form>
		<div id="settings_wrap">
			<div id="settings">
				<h2>Settings</h2>
				<form id="settings_form" method="get">
					<p>Draw lines through the&nbsp;&nbsp;<span class="select-wrapper"><select id="method_follow" name="method_follow"><option value="heaviest" selected="selected">heaviest</option><option value="lightest">lightest</option></select></span>&nbsp;&nbsp;bell.</p>
					<p>Use the following style: <label class="radio_image"><input type="radio" name="method_style" value="numbers" checked="checked"><img src="{{ app.request.basepath }}/images/preview_numbers.png" loading="lazy"></label><label class="radio_image"><input type="radio" name="method_style" value="lines"><img src="{{ app.request.basepath }}/images/preview_lines.png" loading="lazy"></label><label class="radio_image"><input type="radio" name="method_style" value="diagrams"><img src="{{ app.request.basepath }}/images/preview_diagrams.png" loading="lazy"></label></p>
					<p><label for="method_tooltips">Show descriptive tooltips?</label><input type="checkbox" id="method_tooltips" name="method_tooltips" checked="checked"></p>
					<p><label for="method_music">Highlight music?</label><input type="checkbox" id="method_music" name="method_music"></p>
					<p>Increase/decrease size using pinch-to-zoom or by pressing Ctrl + or Ctrl -.</p>
					<p><input id="settings_submit" value="Done" type="submit" /></p>
				</form>
			</div>
		</div>
		<div id="content" role="main"{{ search|default(false) ? ' class="searchable"' : '' }}>
			{% block body %}{% endblock %}
		</div>
		<script src="{{ app.request.basepath }}/js/main.js?v={{ html_age }}" async></script>
	</body>
</html>
{% endapply %}
