{% extends chromeless ? 'BluelineBundle::base.chromeless.html.twig': 'BluelineBundle::base.html.twig' %}

{% block title %}{{ pageTitle }} | Associations | {{ parent() }}{% endblock %}

{% block og_title %}{{ pageTitle }}{% endblock %}
{% block og_description %}Association information for bellringers{% endblock %}

{% set breadcrumb = { 'title': 'Associations', 'href': path('Blueline_Associations_welcome') } %}

{% set search = false %}

{% block body %}
{% from 'BluelineBundle:Macros:header.html.twig' import header %}
{% for association in associations %}
	<section class="association">
		{{ header( association.name, null, { 'id': 'association_'~loop.index~'_tabBar', 'tabs': [
			{ 'title': 'Details', 'content': 'association_details_'~loop.index },
			{ 'title': 'Towers', 'content': 'association_towers_'~loop.index }
		], 'active': 0 } ) }}
		<div id="association_details_{{ loop.index }}" class="details">
			<noscript><h2>Details</h2></noscript>
			<dl>
			{% if association.link is not empty %}
				<dt>Link</dt>
				<dd><a href="{{ association.link }}" class="external">{{ association.link }}</a></dd>
			{% endif %}
				<dt>Towers</dt>
				<dd>{{ count( association.towers ) }}</dd>
			</dl>
			{% set enclaved = associationsContains[loop.index0]|default([]) %}
			{% if enclaved is not empty %}
			<h3>Enclaved Associations</h3>
			<ol>
				{% for association2 in enclaved %}
					<li><a href="{{ path( 'Blueline_Associations_view', {'id':association2.id} ) }}">{{ association2.name }}</a></li>
				{% else %}
					<li class="none">None</li>
				{% endfor %}
			</ol>
			<h3>Data Source and Copyright</h3>
			<dl><dd>Details on the <a href="{{ path( 'Blueline_Pages_view', { 'page': 'about' } ) }}">about page</a>.<dd></dl>
			{% endif %}
		</div>
		<div id="association_towers_{{ loop.index }}" class="affiliations">
			<noscript><h2>Affiliated Towers</h2></noscript>
			<ol>
			{% for tower in association.towers %}
				<li><a href="{{ path( 'Blueline_Towers_view', { 'id': tower.id } ) }}">{{ tower.place }} <small> ({{ tower.dedication }})</small></a></li>
			{% else %}
				<li class="none">None</li>
			{% endfor %}
			</ol>
		</div>
	</section>
{% endfor %}
	<div class="Map" data-set="{{ {
		fitBounds: [bbox.lat_min,bbox.long_min,bbox.lat_max,bbox.long_max],
		fusionTableQuery: "{% for association in associations %}affiliations contains '{{ association.id|e('js') }}'{{ (not loop.last)? ' or ':'' }}{% endfor %}"
	}|json_encode() }}"></div>
{% endblock %}
