{% extends 'BluelineCCCBRDataBundle::base.html.twig' %}

{% block title %}{{ pageTitle }} | Associations | {{ parent() }}{% endblock %}
{% set breadcrumb = [ { 'title': 'Associations', 'href': path( 'Blueline_Associations_welcome' ) } ] %}
{% set search_opensearch = 'associations' %}
{% set search_header = true %}
{% set search_action = path( 'Blueline_Associations_search' ) %}
{% set search_placeholder = 'Search associations' %}

{% block body %}
{% from 'BluelineCCCBRDataBundle:Macros:header.html.twig' import header %}
{% for association in associations %}
	<section class="association">
		{{ header( association.name, null, { 'id': 'association_'~association.ID~'_tabBar', 'tabs': [
			{ 'title': 'Details', 'content': 'association_details_'~association.ID },
			{ 'title': 'Towers', 'content': 'association_towers_'~association.ID }
		], 'active': 0 } ) }}
		<div id="association_details_{{ association.ID }}" class="details">
			<noscript><h2>Details</h2></noscript>
			<dl>
			{% if association.link is not empty %}
				<dt>Link</dt>
				<dd><a href="{{ association.link }}" class="external">{{ association.link }}</a></dd>
			{% endif %}
				<dt>Towers</dt>
				<dd>{{ count( association.affiliatedTowers ) }}</dd>
			</dl>
		</div>
		<div id="association_towers_{{ association.ID }}" class="affiliations">
			<noscript><h2>Affiliated Towers</h2></noscript>
			<ol>
			{% for tower in association.affiliatedTowers %}
				<li><a href="{{ path( 'Blueline_Towers_view', { 'doveid': tower.doveid } ) }}">{{ tower.place }} <small> ({{ tower.dedication }})</small></a></li>
			{% else %}
				<li>None</li>
			{% endfor %}
			</ol>
		</div>
	</section>
{% endfor %}
	<script>
{% autoescape false %}
	//<![CDATA[
		require( ['ui/TowerMap'], function( TowerMap ) {
			TowerMap.set( {
				fitBounds: [{{ bbox.lat_min }},{{ bbox.long_min }},{{ bbox.lat_max }},{{ bbox.long_max }}],
				fusionTableQuery: "{% for association in associations %}affiliations contains '{{ association.abbreviation|e('js') }}'{{ (not loop.last)? ' or ':'' }}{% endfor %}"
			} );
		} );
{% endautoescape %}
	//]]>
	</script>
{% endblock %}
